@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-public-sans);
  --font-mono: var(--font-public-mono);
  --color-Blue-950: hsl(233, 26%, 24%);
  --color-Green-500: hsl(136, 64%, 51%);
  --color-Cyan-400: hsl(192, 69%, 51%);
  --color-Gray-600: hsl(233, 8%, 62%);
  --color-Gray-100: hsl(220, 16%, 96%);
  --color-Gray-50: hsl(0, 0%, 98%);
}

body {
  background: var(--background);
  font-size: 16px;
  font-weight: 300;  
}
