@import "tailwindcss";

:root {
  --foreground: #ffffff;
}

@theme inline {
  --color-foreground: var(--foreground);
  --font-Bellefair: var(--font-Bellefair);
  --font-Barlow: var(--font-Barlow);
  --font-Barlow-Condensed: var(--font-Barlow-Condensed);
  --color-BLUE-900: #0B0D17;
  --color-BLUE-300: #D0D6F9;
  --breakpoint-xs: 340px;
}

body {
  color: var(--foreground);
  background-color: black;
  font-size: 16px;
  font-weight: 300;  
}
